@{
    ViewBag.Title = "Artists & Objects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <div class="container">
    <h2>Artists &amp; Objects</h2>
    <p>Click an object node for details.</p>
    <div id="chart"></div>
  </div>
  <script src="~/Scripts/d3.min.js"></script>
  <script src="~/Scripts/app/artist.js"></script>
