
@{
    ViewBag.Title = "Exhibitions & Objects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Exhibitions &amp; Objects</h2>
    <p>This is not a full example of objects.</p>
    <p>Click an object node for details.</p>
    <div id="chart"></div>
</div>
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/app/exhibition.js"></script>

